langchain~=0.2.5
langchain-google-genai~=1.0.7
langgraph ~=0.0.69
httpx~=0.27.0
llama-index~=0.10.56
llama-index-graph-stores-neo4j~=0.2.8
llama-index-llms-gemini~=0.1.11
llama-index-embeddings-gemini~=0.1.8